.container{
    width:1226px;
    margin-right: auto;
    margin-left: auto;
}

.span4{
    width: 234px;
    float:left;
    margin-left: 14px;
    min-height: 1px;
}

.span_box{
    margin-bottom: 12px;
}

.span_box .box_hd{
    height:150px;
}
.span_box .box_hd .title{
    float: left;
    margin-left: 30px;
    margin-top:50px;
}

.span_box .box_hd .box_bd {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.span_box .box_hd .box_bd ul{
    margin:0 ;
    padding:0;
    height: 25px;
}

.span_box .box_hd .box_bd li{
    float: left;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size:16px;
    line-height: 25px;
    text-align: center;
}

.search-text {
    height: 36px; /* 设置与按钮相同的高度 */
    padding: 7px 9.5px; /* 调整内边距以确保一致的外观 */
    border: 1px solid #ccc;
    border-radius: 32px 0 0 32px; 
    outline: none;
}

.search-btn {
    background-color: white;
    border: 1px solid #ccc;
    color: black;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 0 32px 32px 0; 
}
