<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>小米账号—注册</title>
    <link rel="icon" href="../img/小米手机/logo-footer.png" type="image/gif">
    <link rel="stylesheet" href="../css/register.css">
    <link rel="stylesheet" href="../css/Account.css">
    <link rel="stylesheet" href="../css/load.css">
    <link rel="stylesheet" href="../css/base.css">
</head>

<body>
    <div class="entirety">
        <div class="milogo">
            <a href="/mi/index.html">
                <img src="../img/小米手机/logo-footer.png" style="height: 50px;width: 50px;" />
            </a>
        </div>
        <div class="main1 main2">
            <h3 class="tit-mi">注册账号</h3>
            <div class="z-main">
                <form id="registrationForm">
                    <div class="tableItem">
                        <i class="userHead"></i>
                        <input type="text" id="nickname" placeholder="设置昵称" required />
                    </div>
                    <div class="tableItem">
                        <i class="userHead"></i>
                        <input type="text" id="username" placeholder="账号" required />
                    </div>
                    <div class="tableItem">
                        <i class="userLock"></i>
                        <input type="password" id="password" placeholder="密码" required pattern="^\w{6,10}$" />
                    </div>
                    <div class="tableItem">
                        <i class="userLock"></i>
                        <input type="password" id="confirmPassword" placeholder="确认密码" required pattern="^\w{6,10}$" />
                    </div>
                    <div class="">
                        <input class="submit-1" type="submit" value="立即注册" />
                    </div>
                </form>
            </div>
            <div class="footer-1 buttonCenter">
                <label class="footer-1-m">
                    <input type="checkbox" required>注册帐号即表示您同意并愿意遵守
                    <a class="agreement-t">用户协议</a>
                    和
                    <a class="agreement-y">隐私政策</a>
                </label>
            </div>
            <div class="buttonCenter">
                <div class="s-language">简体&nbsp&nbsp&nbsp| 繁体&nbsp&nbsp&nbsp| English&nbsp&nbsp&nbsp| 常见问题</div>
            </div>
        </div>
    </div>
    <script src="../js/register.js"></script>
</body>

</html>