<!DOCTYPE html>
<html lang="en">
<!--jyc-->

<head>
    <meta charset="UTF-8">
    <title>数码</title>
    <link rel="icon" href="../img/小米手机/logo-footer.png" type="image/gif">
    <link href="../css/jyc.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/layui/css/layui.css">
    <script src="../css/layui/layui.js"></script>
    <script src="../js/jquery-3.3.1.js"></script>
    <script src="../js/jyc2.js"></script>
</head>

<body>
    <!--头部-->
    <div class="header">
        <div class="topbar">
            <div class="wrap">
                <div class="topbar-left">
                    <a>闲置物品交换分析平台</a><span>|</span>
                </div>
                <div class="topbar-right">
                    <a href="./Account.html" id="login">登录</a><span>|</span>
                    <a href="./miregister.html" id="register">注册</a><span>|</span>
                </div>
            </div>
        </div>
        <div class="nav wrap">
            <div class="nav-logo" style="background-color: transparent">
                <a href="../index.html"><img src="../img/小米手机/logo-footer.png"></a>
            </div>
            <div class="header-nav">
                <ul class="nav-list">
                    <li class="nav-category" id="nav-all">
                        <a>全部交换分类</a>
                    </li>
                    <li class="nav-item" id="phone">
                        <a href="../index.html">首页</a>
                    </li>
                    <li class="nav-item" id="hongmi">
                        <a href="../views/mobilephone.html">数码</a>
                    </li>
                    <li class="nav-item" id="tv">
                        <a href="../views/TV.html">服饰</a>
                    </li>
                    <li class="nav-item" id="computer">
                        <a href="../views/computer.html">书籍</a>
                    </li>
                    <li class="nav-item" id="hezi">
                        <a href="../views/Smart_Appliances.html">家居用品</a>
                    </li>
                    <li class="nav-item" id="news">
                        <a href="../views/Healthy_home.html">运动器材</a>
                    </li>
                    <li class="nav-item" id="router">
                        <a href="../views/Travel_children.html">手工艺品</a>
                    </li>
                    <li class="nav-item" id="hard">
                        <a href="../views/Router.html">物品玩具</a>
                    </li>
                    <li class="nav-item">
                        <a href="../views/power.html">工具</a>
                    </li>
                </ul>
            </div>
            <div class="nav-search">
                <form>
                    <input class="search-text" type="text">
                    <input class="iconfont search-btn " type="submit" value="&#xe7b7;">
                </form>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!--主体-->
    <div class="main">
        <div class="layui-carousel" id="carouse">
            <div carousel-item>
                <div><img width=2500px height=620px src="../img/帖子图片/18.jpg" /></div>
                <div><img src="../img/帖子图片/18.jpg" /></div>
            </div>
        </div>
        <div class="wrap channel-title">
            <h2>精彩帖子</h2>
        </div>
        <div class="product-1 wrap shadow">
            <a>
                <img src="../img/小米手机/红米5plus.jpg" />
                <div class="content">
                    <h1>二手红米5</h1>
                    <p class="desc">仅用一年，状态良好</p>
                    <p class="link">了解详情></p>
                </div>
            </a>
        </div>
        <div class="wrap" style="height: 14px;"></div>
        <div class="wrap product-2">
            <div class="product-2-left shadow">
                <a>
                    <img src="../img/帖子图片/14.jpg" />
                    <div class="content">
                        <h1>ipad</h1>
                        <p class="desc">使用1年，9成新</p>
                    </div>
                </a>
            </div>
            <div class="product-2-right shadow">
                <a>

                    <img src="../img/帖子图片/13.jpg" />
                    <div class="content">
                        <h1>索尼摄像机</h1>
                        <p class="desc">使用3年，8成新</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="wrap" style="height: 14px;"></div>
        <div class="wrap product-3">
            <div class="product-3-left wrap shadow">
                <a>
                    <img src="../img/帖子图片/15.jpg" />
                    <div class="content">
                        <h1>手表</h1>
                        <p class="desc">仅用半年，用不上了，物品状态良好</p>
                    </div>
                </a>
            </div>
            <div class="product-3-middle wrap shadow">
                <a>
                    <img src="../img/小米手机/mi6.jpg" />
                    <div class="content">
                        <h1>二手小米6</h1>
                        <p class="desc">九五成新</p>
                    </div>
                </a>
            </div>
            <div class="product-3-right wrap shadow">
                <a>
                    <img width=1100px src="../img/帖子图片/16.jpg" />
                    <div class="content">
                        <h1>充电宝</h1>
                        <p class="desc">大容量，状态良好</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="wrap" style="height: 14px;"></div>
        <div class="wrap" style="height: 14px;"></div>
        <div class="wrap" style="height: 14px;"></div>
    </div>
    <script>
        layui.use('carousel', function () {
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '#carouse'
                , width: '100%' //设置容器宽度
                , height: '620px'
                , arrow: 'always' //始终显示箭头
                //,anim: 'updown' //切换动画方式

            });
        });
    </script>
</body>

</html>