<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="icon" href="../img/小米手机/logo-footer.png" type="image/gif">
    <link rel="stylesheet" href="../css/layui/css/layui.css">
    <link href="../css/jyc.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <script src="../css/layui/layui.js"></script>
    <link rel="stylesheet" href="../css/qcz.css">
    <link rel="stylesheet" href="../css/personal_center.css">
    <link rel="stylesheet" href="../css/personal%20info.css">
    <script src="../js/jquery-3.3.1.js"></script>
    <script src="../js/jyc2.js"></script>

</head>
<!--头部-->
<div class="header">
    <div class="topbar">
        <div class="wrap">
            <div class="topbar-left">
                <a>闲置物品交换分析平台</a><span>|</span>
            </div>
            <div class="topbar-right">
                <a href="./Account.html" id="login">登录</a><span>|</span>
                <a href="./miregister.html" id="register">注册</a><span>|</span>
            </div>
        </div>
    </div>
    <div class="nav wrap">
        <div class="nav-logo" style="background-color: transparent">
            <a href="../index.html"><img src="../img/小米手机/logo-footer.png"></a>
        </div>
        <div class="header-nav">
            <ul class="nav-list">
                <li class="nav-category" id="nav-all">
                    <a>全部交换分类</a>
                </li>
                <li class="nav-item" id="phone">
                    <a href="../index.html">首页</a>
                </li>
                <li class="nav-item" id="hongmi">
                    <a href="../views/mobilephone.html">数码</a>
                </li>
                <li class="nav-item" id="tv">
                    <a href="../views/TV.html">服饰</a>
                </li>
                <li class="nav-item" id="computer">
                    <a href="../views/computer.html">书籍</a>
                </li>
                <li class="nav-item" id="hezi">
                    <a href="../views/Smart_Appliances.html">家居用品</a>
                </li>
                <li class="nav-item" id="news">
                    <a href="../views/Healthy_home.html">运动器材</a>
                </li>
                <li class="nav-item" id="router">
                    <a href="../views/Travel_children.html">手工艺品</a>
                </li>
                <li class="nav-item" id="hard">
                    <a href="../views/Router.html">物品玩具</a>
                </li>
                <li class="nav-item">
                    <a href="../views/power.html">工具</a>
                </li>
            </ul>
        </div>
        <div class="nav-search">
            <form>
                <input class="search-text" type="text">
                <input class="iconfont search-btn " type="submit" value="&#xe7b7;">
            </form>
        </div>
    </div>
</div>
<div class="clear"></div>



<div class="breadcrumbs">
    <div class="container">
        <a href="../index.html" data-stat-id="012915bca85966a2"
            onclick="_msq.push(['trackEvent', 'f4f3444fdfa3d27a-012915bca85966a2', '//www.mi.com/index.html', 'pcpid', '']);">首页</a>
        <span class="sep"> > </span>
        <span>个人中心</span>
    </div>
</div>



</div>
<div class="clear"></div>

<body>
    <div class="container">
        <div class="profile-container">
            <div class="profile-info">
                <img src="../img/index/雷军.jpg" alt="User Avatar" class="avatar">
                <div class="user-details">
                    <a class="login-link">登录</a>
                    <p style="margin: 3px 0px 3px 0px;">早上好~</p>
                    <a href="#" id="edit-personal-info">修改个人信息 &gt;</a>
                </div>
            </div>
    
            <div class="account-details">
                <p>账户安全：较高</p>
                <p>绑定手机：176******63</p>
            </div>
        </div>
    
        <div class="profile-container">
        <div class="item-section">
            <div class="section-header">
                <h3>物品交换</h3>
                <a href="#" id="edit-personal-info">查看全部 &gt;</a>
            </div>
            <!-- 这里可以添加具体的物品列表 -->
            <div class="wrap">
                <li>
                    <a href="./product_show.html">
                        <div>
                            <img src="../img/index/box8-1.jpg" height="220" width="220" />
                            <p class="desc">今天下午在图书馆门口捡到一本高数书</p>
                            <div class="xinxi">
                                <p class="price">计科二班李同学</p>
                            </div>
                            <div class="xinxi">
                                <p class="fabutime">十三小时前发布</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./product_show.html">
                        <div>
                            <img src="../img/index/box8-1.jpg" height="220" width="220" />
                            <p class="desc">今天下午在图书馆门口捡到一本高数书</p>
                            <div class="xinxi">
                                <p class="price">计科二班李同学</p>
                            </div>
                            <div class="xinxi">
                                <p class="fabutime">十三小时前发布</p>
                            </div>
                        </div>
                    </a>
                </li>
            </div>
        </div>
    
        <div class="item-section">
            <div class="section-header">
                <h3>失物招领</h3>
                <a href="#" id="edit-personal-info">查看全部 &gt;</a>
            </div>
            <!-- 这里可以添加具体的物品列表 -->
            <div class="wrap">
                <li>
                    <a href="./product_show.html">
                        <div>
                            <img src="../img/index/box8-1.jpg" height="220" width="220" />
                            <p class="desc">今天下午在图书馆门口捡到一本高数书</p>
                            <div class="xinxi">
                                <p class="price">计科二班李同学</p>
                            </div>
                            <div class="xinxi">
                                <p class="fabutime">十三小时前发布</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./product_show.html">
                        <div>
                            <img src="../img/index/box8-1.jpg" height="220" width="220" />
                            <p class="desc">今天下午在图书馆门口捡到一本高数书</p>
                            <div class="xinxi">
                                <p class="price">计科二班李同学</p>
                            </div>
                            <div class="xinxi">
                                <p class="fabutime">十三小时前发布</p>
                            </div>
                        </div>
                    </a>
                </li>
            </div>
        </div>
    
            <div class="item-section">
                <div class="section-header">
                    <h3>我的发布</h3>
                    <a href="#" id="edit-personal-info">查看全部 &gt;</a>
                </div>
                <!-- 这里可以添加待收取的物品列表 -->
                <div class="wrap">
                    <li>
                        <a href="./product_show.html">
                            <div>
                                <img src="../img/index/box8-1.jpg" height="220" width="220" />
                                <p class="desc">今天下午在图书馆门口捡到一本高数书</p>
                                <div class="xinxi">
                                    <p class="price">计科二班李同学</p>
                                </div>
                                <div class="xinxi">
                                    <p class="fabutime">十三小时前发布</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="./product_show.html">
                            <div>
                                <img src="../img/index/box8-1.jpg" height="220" width="220" />
                                <p class="desc">今天下午在图书馆门口捡到一本高数书</p>
                                <div class="xinxi">
                                    <p class="price">计科二班李同学</p>
                                </div>
                                <div class="xinxi">
                                    <p class="fabutime">十三小时前发布</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </div>
            </div>
    
            <div class="item-section">
                <div class="section-header">
                    <h3>我的足迹</h3>
                    <a href="#" id="edit-personal-info">查看全部 &gt;</a>
                </div>
                <!-- 这里可以添加待收取的物品列表 -->
                <div class="wrap">
                    <li>
                        <a href="./product_show.html">
                            <div>
                                <img src="../img/index/box8-1.jpg" height="220" width="220" />
                                <p class="desc">今天下午在图书馆门口捡到一本高数书</p>
                                <div class="xinxi">
                                    <p class="price">计科二班李同学</p>
                                </div>
                                <div class="xinxi">
                                    <p class="fabutime">十三小时前发布</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="./product_show.html">
                            <div>
                                <img src="../img/index/box8-1.jpg" height="220" width="220" />
                                <p class="desc">今天下午在图书馆门口捡到一本高数书</p>
                                <div class="xinxi">
                                    <p class="price">计科二班李同学</p>
                                </div>
                                <div class="xinxi">
                                    <p class="fabutime">十三小时前发布</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </div>
            </div>
        </div>
        </div>
</body>

</html>


<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#carouse'
            , width: '100%' //设置容器宽度
            , height: '620px'
            , arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式

        });
    });
</script>
</body>

</html>