<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="icon" href="../img/小米手机/logo-footer.png" type="image/gif">
    <link rel="stylesheet" href="../css/layui/css/layui.css">
    <link href="../css/jyc.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <script src="../css/layui/layui.js"></script>
    <script src="../js/jquery-3.3.1.js"></script>
    <script src="../js/jyc.js"></script>
    <link rel="stylesheet" href="../css/qcz.css">
    <link rel="stylesheet" href="../css/personal_center.css">
    <link rel="stylesheet" href="../css/personal%20info.css">

</head>
<!--头部-->
<div class="header">
    <div class="topbar">
        <div class="wrap">
            <div class="topbar-left">
                <a>闲置物品交换分析平台</a><span>|</span>
                <!-- <a>MIUI</a><span>|</span>
                <a>loT</a><span>|</span>
                <a>云服务</a><span>|</span>
                <a>水滴</a><span>|</span>
                <a>金融</a><span>|</span>
                <a>有品</a><span>|</span>
                <a>Select Region</a> -->
            </div>
            <div class="topbar-right">
                <a href="Account.html" id="login">登录</a><span>|</span>
                <a href="miregister.html" id="register">注册</a><span>|</span>
                <a href="Personal_central.html">个人中心</a><span>|</span>
                <!-- <div id="topbar-cart">
                    <a>
                        <i class="iconfont">&#xe600;</i>购物车</a>
                </div>
                <div class="loading" id="load" style="display:none">购物车中还没有商品，赶紧选购吧！</div> -->
            </div>
        </div>
    </div>
    <div class="nav wrap">
        <div class="nav-logo" style="background-color: transparent">
            <a href="../index.html"><img src="../img/小米手机/logo-footer.png"></a>
        </div>
        <div class="header-nav">
            <ul class="nav-list">
                <li class="nav-category" id="nav-all" onmouseover="navallOver()" onmouseout="navallOut()">
                    <a>全部交换分类</a>
                </li>
                <li class="nav-item" id="phone">
                    <a href="/">首页</a>
                </li>
                <li class="nav-item" id="hongmi">
                    <a href="mobilephone.html">数码</a>
                    <div class="nav-bar-down" id="navbar2">
                        <div class="wrap">
                            <div>
                                <img class="firstimg" src="../img/小米手机/5-320-220.png" />
                            </div>
                            <div>
                                <img src="../img/小米手机/5P-320-220.png" />
                            </div>
                            <div>
                                <img src="../img/小米手机/320-220-1.png" />
                            </div>
                            <div>
                                <img src="../img/小米手机/3205a.png" />
                            </div>
                            <div>
                                <img src="../img/小米手机/320-220!160x110.jpg" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item" id="tv">
                    <a href="TV.html">服饰</a>
                    <div class="nav-bar-down" id="navbar3">
                        <div class="wrap">
                            <div>
                                <img class="firstimg" src="../img/小米手机/tv1.png" />
                            </div>
                            <div>
                                <img src="../img/小米手机/tv2.png" />
                            </div>
                            <div>
                                <img src="../img/小米手机/tv3.png" />
                            </div>
                            <div>
                                <img src="../img/小米手机/tv4.png" />
                            </div>
                            <div>
                                <img src="../img/小米手机/tv5.png" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item" id="computer">
                    <a href="computer.html">书籍</a>
                    <div class="nav-bar-down" id="navbar4">
                        <div class="wrap">
                            <div>
                                <img class="firstimg" src="../img/小米手机/computer1.jpg" />
                            </div>
                            <div>
                                <img src="../img/小米手机/computer2.jpg" />
                            </div>
                            <div>
                                <img src="../img/小米手机/computer3.jpg" />
                            </div>
                            <div>
                                <img src="../img/小米手机/computer4.jpg" />
                            </div>
                            <div>
                                <img src="../img/小米手机/computer5.jpg" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item" id="hezi">
                    <a href="Smart_Appliances.html">家居用品</a>
                    <div class="nav-bar-down" id="navbar5">
                        <div class="wrap">
                            <div>
                                <img class="firstimg" src="../img/小米手机/hezi1.png" />
                            </div>
                            <div>
                                <img src="../img/小米手机/hezi2.png" />
                            </div>
                            <div>
                                <img src="../img/小米手机/hezi3.png" />
                            </div>
                            <div>
                                <img src="../img/小米手机/hezi4.png" />
                            </div>
                            <div>
                                <img src="../img/小米手机/hezi5.jpg" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item" id="news">
                    <a href="Healthy_home.html">运动器材</a>
                    <div class="nav-bar-down" id="navbar6">
                        <div class="wrap">
                            <div>
                                <img class="firstimg" src="../img/小米手机/xinping1.png" />
                            </div>
                            <div>
                                <img src="../img/小米手机/xinping2.png" />
                            </div>
                            <div>
                                <img src="../img/小米手机/xinping3.png" />
                            </div>
                            <div>
                                <img src="../img/小米手机/xinping4.png" />
                            </div>
                            <div>
                                <img src="../img/小米手机/xinping5.png" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item" id="router">
                    <a href="Travel_children.html">手工艺品</a>
                    <div class="nav-bar-down" id="navbar7">
                        <div class="wrap">
                            <div>
                                <img class="firstimg" src="../img/小米手机/router1.jpg" />
                            </div>
                            <div>
                                <img src="../img/小米手机/router2.jpg" />
                            </div>
                            <div>
                                <img src="../img/小米手机/router3.jpg" />
                            </div>
                            <div>
                                <img src="../img/小米手机/router4.jpg" />
                            </div>
                            <div>
                                <img src="../img/小米手机/router5.jpg" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item" id="hard">
                    <a href="Router.html">物品玩具</a>
                    <div class="nav-bar-down" id="navbar8">
                        <div class="wrap">
                            <div>
                                <img class="firstimg" src="../img/小米手机/hard1.jpg" />
                            </div>
                            <div>
                                <img src="../img/小米手机/hard2.png" />
                            </div>
                            <div>
                                <img src="../img/小米手机/hard3.png" />
                            </div>
                            <div>
                                <img src="../img/小米手机/hard4.jpg" />
                            </div>
                            <div>
                                <img src="../img/小米手机/hard5.jpg" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="power.html">工具</a>
                </li>
            </ul>
        </div>
        <div class="nav-search">
            <form>
                <input class="search-text" type="text">
                <input class="iconfont search-btn " type="submit" value="&#xe7b7;">
            </form>
        </div>
    </div>
</div>
<div class="clear"></div>






            <!-- <img src="../img/登陆界面.png" height="846" width="1219" /> -->
        </div>
        <!-- <div class="nav-search">
            <form>
                <input class="search-text" type="text">
                <input class="iconfont search-btn " type="submit" value="&#xe7b7;">
            </form>
        </div> -->
    </div>
</div>
<div class="clear"></div>



<body>
    <!-- <div class="breadcrumbs">
        <div class="container">
            <a href="http://localhost:63342/mi/index.html" data-stat-id="012915bca85966a2"
                onclick="_msq.push(['trackEvent', 'f4f3444fdfa3d27a-012915bca85966a2', '//www.mi.com/index.html', 'pcpid', '']);">首页</a>
            <span class="sep"> > </span>
            <span>个人中心</span>
        </div>
    </div> -->
    <div class="profile-container">
        <div class="profile-info">
            <img src="../img/index/雷军.jpg" alt="User Avatar" class="avatar">
            <div class="user-details">
                <h2>Miyabi</h2>
                <p>早上好~</p>
                <a href="#" id="edit-personal-info">修改个人信息 &gt;</a>
            </div>
        </div>

        <div class="account-details">
            <p>账户安全：较高</p>
            <p>绑定手机：176******63</p>
        </div>
    </div>

    <div class="items-container">
        <div class="item-section">
            <h3>要交换的物品</h3>
            <!-- 这里可以添加具体的物品列表 -->
            <div class="wrap">
                <div>
                    <img class="firstimg" src="../img/小米手机/5-320-220.png" />
                </div>
                <div>
                    <img src="../img/小米手机/5P-320-220.png" />
                </div>
                <div>
                    <img src="../img/小米手机/320-220-1.png" />
                </div>
                <div>
                    <img src="../img/小米手机/3205a.png" />
                </div>
            </div>
        </div>

        <div class="item-section">
            <h3>待收取的物品</h3>
            <!-- 这里可以添加足迹记录 -->
            <div class="wrap">
                <div>
                    <img class="firstimg" src="../img/小米手机/5-320-220.png" />
                </div>
                <div>
                    <img src="../img/小米手机/5P-320-220.png" />
                </div>
                <div>
                    <img src="../img/小米手机/320-220-1.png" />
                </div>
                <div>
                    <img src="../img/小米手机/3205a.png" />
                </div>
            </div>
        </div>

        <div class="item-section">
            <h3>喜爱的物品</h3>
            <!-- 这里可以添加待收取的物品列表 -->
            <div class="wrap">
                <div>
                    <img class="firstimg" src="../img/小米手机/5-320-220.png" />
                </div>
                <div>
                    <img src="../img/小米手机/5P-320-220.png" />
                </div>
                <div>
                    <img src="../img/小米手机/320-220-1.png" />
                </div>
                <div>
                    <img src="../img/小米手机/3205a.png" />
                </div>
        </div>
    </div>



</body>

</html>


<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#carouse'
            , width: '100%' //设置容器宽度
            , height: '620px'
            , arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式

        });
    });
</script>
</body>

</html>