<!DOCTYPE html>
<html lang="en">
<!--jyc-->

<head>
    <meta charset="UTF-8">
    <title>数码/手机</title>
    <link rel="icon" href="../img/小米手机/logo-footer.png" type="image/gif">
    <link href="../css/jyc.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/layui/css/layui.css">
    <link href="../css/product.css" rel="stylesheet" type="text/css">
    <script src="../css/layui/layui.js"></script>
    <script src="../js/jquery-3.3.1.js"></script>
    <script src="../js/jyc.js"></script>
</head>

<body>
    <!--头部-->
    <div class="header">
        <div class="topbar">
            <div class="wrap">
                <div class="topbar-left">
					<a>闲置物品交换分析平台</a><span>|</span>
                </div>
                <div class="topbar-right">
                    <a href="Account.html" id="login">登录</a><span>|</span>
                    <a href="miregister.html" id="register">注册</a><span>|</span>
                    <a href="Personal_central.html">消息通知</a><span>|</span>
                    <div id="topbar-cart">
                        <a>
                            <i class="iconfont">&#xe600;</i>购物车</a>
                    </div>
                    <div class="loading" id="load" style="display:none">购物车中还没有商品，赶紧选购吧！</div>
                </div>
            </div>
        </div>
        <div class="nav wrap">
            <div class="nav-logo" style="background-color: transparent">
                <a href="../index.html"><img src="../img/小米手机/logo-footer.png"></a>
            </div>
            <div class="nav-search">
                <form>
                    <input class="search-text" type="text">
                    <input class="iconfont search-btn " type="submit" value="&#xe7b7;">
                </form>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!--主体-->
    <div class="main">
        <div class="product-detail-page">
            <!-- 商品图片 -->
            <div class="product-image-wrap">
                <div class="layui-carousel" id="carouse">
                    <div carousel-item>
                        <div><img src="../img/小米手机/320-220!160x110.jpg" /></div>
                        <div><img src="../img/小米手机/320-220-1.png" /></div>
                    </div>
                </div>
            </div>
            <!-- 商品详细信息和操作按钮 -->
            <div class="product-details-wrap">
                <div class="product-description">
                    <h1>红米5 Plus（九成新）</h1>
                    <div class="product-specs">
                        <h2>物品描述：</h2>
                        <ul>
                            <li>女生自用九九新</li>
                            <li>全网通 插卡即用</li>
                            <li>系统流畅 处理器完美</li>
                            <li>电池容量大，刷视频听歌首选</li>
                            <li>捡漏款先到先得</li>
                        </ul>
                    </div>
                    <p class="price"><strong>199</strong>元</p>
                    <p class="desc">有意者，可详细交流</p>
                </div>

                <div class="product-actions">
                    <button class="contact-seller-btn">联系卖家</button>
                    <button class="add-to-favorites-btn">收藏物品</button>
                    <button class="buy-now-btn">立即购买</button>
                </div>
            </div>
        </div>

        <div class="clear"></div>
        <div class="main-page">
                <div class="phone">
                    <div class="title">
                        <h2>为你推荐</h2>
                    </div>
                    <div class="clear"></div>
                    <div class="content">
                        <div class="phone-8">
                            <ul>
                                <li>
                                    <div>
                                        <img src="../img/index/box8-1.jpg" height="220" width="220" />
                                        <p class="desc">二手手机iphone8p</p>
                                        <div class="xinxi"><p class="price">计科二班李同学</p></div>
                                        <div class="xinxi"><p class="fabutime">十三小时前发布</p></div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <img src="../img/index/box8-1.jpg" height="220" width="220" />
                                        <p class="desc">今天下午在图书馆门口捡到一本高数书</p>
                                        <div class="xinxi"><p class="price">计科二班李同学</p></div>
                                        <div class="xinxi"><p class="fabutime">一天前发布</p></div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <img src="../img/index/box8-1.jpg" height="220" width="220" />
                                        <p class="desc">今天下午在图书馆门口捡到一本高数书</p>
                                        <div class="xinxi"><p class="price">计科二班李同学</p></div>
                                        <div class="xinxi"><p class="fabutime">十三小时前发布</p></div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <img src="../img/index/box8-1.jpg" height="220" width="220" />
                                        <p class="desc">今天下午在图书馆门口捡到一本高数书</p>
                                        <div class="xinxi"><p class="price">计科二班李同学</p></div>
                                        <div class="xinxi"><p class="fabutime">十三小时前发布</p></div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <img src="../img/index/box8-1.jpg" height="220" width="220" />
                                        <p class="desc">今天下午在图书馆门口捡到一本高数书</p>
                                        <div class="xinxi"><p class="price">计科二班李同学</p></div>
                                        <div class="xinxi"><p class="fabutime">十三小时前发布</p></div>
                                    </div>
                                </li>
                                <li class="down">
                                    <div>
                                        <img src="../img/index/box8-1.jpg" height="220" width="220" />
                                        <p class="desc">今天下午在图书馆门口捡到一本高数书</p>
                                        <div class="xinxi"><p class="price">计科二班李同学</p></div>
                                        <div class="xinxi"><p class="fabutime">十三小时前发布</p></div>
                                    </div>
                                </li>
                                <li class="down">
                                    <div>
                                        <img src="../img/index/box8-1.jpg" height="220" width="220" />
                                        <p class="desc">今天下午在图书馆门口捡到一本高数书</p>
                                        <div class="xinxi"><p class="price">计科二班李同学</p></div>
                                        <div class="xinxi"><p class="fabutime">十三小时前发布</p></div>
                                    </div>
                                </li>
                                <li class="down">
                                    <div>
                                        <img src="../img/index/box8-1.jpg" height="220" width="220" />
                                        <p class="desc">今天下午在图书馆门口捡到一本高数书</p>
                                        <div class="xinxi"><p class="price">计科二班李同学</p></div>
                                        <div class="xinxi"><p class="fabutime">十三小时前发布</p></div>
                                    </div>
                                </li>
                                <li class="down">
                                    <div>
                                        <img src="../img/index/box8-1.jpg" height="220" width="220" />
                                        <p class="desc">今天下午在图书馆门口捡到一本高数书</p>
                                        <div class="xinxi"><p class="price">计科二班李同学</p></div>
                                        <div class="xinxi"><p class="fabutime">十三小时前发布</p></div>
                                    </div>
                                </li>
                                <li class="down">
                                    <div>
                                        <img src="../img/index/box8-1.jpg" height="220" width="220" />
                                        <p class="desc">今天下午在图书馆门口捡到一本高数书</p>
                                        <div class="xinxi"><p class="price">计科二班李同学</p></div>
                                        <div class="xinxi"><p class="fabutime">十三小时前发布</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
    </div>

    <!--脚部-->
    <div class="clear"></div>


    <script>
        layui.use('carousel', function () {
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '#carouse'
                , width: '99%' //设置容器宽度
                , height: '500px'
                , arrow: 'always' //始终显示箭头
                , anim: 'updown' //切换动画方式
            });
            console.log('Carousel initialized');
        });
    </script>
</body>

</html>