<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>消息通知</title>
    <link rel="icon" href="../img/小米手机/logo-footer.png" type="image/gif">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <script src="../css/layui/layui.js"></script>
    <script src="../js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="../css/pingjia.css">
    <script src="../js/jyc2.js"></script>
    <link rel="stylesheet" href="../css/jyc.css">
</head>

<body>
    <!--头部-->
    <div class="header">
        <div class="topbar">
            <div class="wrap">
                <div class="topbar-left">
                    <a>闲置物品交换分析平台</a><span>|</span>
                </div>
                <div class="topbar-right">
                    <a href="./Account.html" id="login">登录</a><span>|</span>
                    <a href="./miregister.html" id="register">注册</a><span>|</span>
                </div>
            </div>
        </div>
        <div class="nav wrap">
            <div class="nav-logo" style="background-color: transparent">
                <a href="../index.html"><img src="../img/小米手机/logo-footer.png"></a>
            </div>
            <div class="header-nav">
                <ul class="nav-list">
                    <li class="nav-category" id="nav-all">
                        <a>全部交换分类</a>
                    </li>
                    <li class="nav-item" id="phone">
                        <a href="../index.html">首页</a>
                    </li>
                    <li class="nav-item" id="hongmi">
                        <a href="../views/mobilephone.html">数码</a>
                    </li>
                    <li class="nav-item" id="tv">
                        <a href="../views/TV.html">服饰</a>
                    </li>
                    <li class="nav-item" id="computer">
                        <a href="../views/computer.html">书籍</a>
                    </li>
                    <li class="nav-item" id="hezi">
                        <a href="../views/Smart_Appliances.html">家居用品</a>
                    </li>
                    <li class="nav-item" id="news">
                        <a href="../views/Healthy_home.html">运动器材</a>
                    </li>
                    <li class="nav-item" id="router">
                        <a href="../views/Travel_children.html">手工艺品</a>
                    </li>
                    <li class="nav-item" id="hard">
                        <a href="../views/Router.html">物品玩具</a>
                    </li>
                    <li class="nav-item">
                        <a href="../views/power.html">工具</a>
                    </li>
                </ul>
            </div>
            <div class="nav-search">
                <form>
                    <input class="search-text" type="text">
                    <input class="iconfont search-btn " type="submit" value="&#xe7b7;">
                </form>
            </div>
        </div>
    </div>
    <div class="clear"></div>

    <div class="main">
        <div class="breadcrumbs">
            <div class="container">
                <h4>首页 > 消息通知</h4>
            </div>
        </div>
        <div class="row">
            <div class="row-left">
                <div class="box-1">
                    <div class="box-hd">
                        <h3 class="title">
                            交换中心
                        </h3>
                        <div class="box-bd">
                            <ul class="box-bd">
                                <li><a>我的订单
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-2">
                    <div class="box-hd">
                        <h3 class="title">
                            个人中心
                        </h3>
                        <div class="box-bd">
                            <ul class="box-bd">
                                <li><a>我的个人中心
                                    </a></li>
                                <li><a>消息通知
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-3">
                    <div class="box-hd">
                        <h3 class="title">
                            账户管理
                        </h3>
                        <div class="box-bd">
                            <ul class="box-bd">
                                <li><a>账户管理
                                    </a></li>
                                <li><a>个人信息
                                    </a></li>
                                <li><a>修改密码
                                    </a></li>



                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--中间评价区-->
            <div class="row-center">
                <div class="pingjia">
                    <div class="pingjia-head"> </div>
                    <h1 class="pingjia-title">消息通知</h1>
                    <ul class="filter-list">
                        <li><a>系统公告</a></li>
                        <li><a>交换提醒</a></li>
                        <li><a>失物招领</a></li>
                        <li><a>我的发布</a></li>
                    </ul>
                </div>
                <div class="message-list">
                    <ul>
                        <li>
                            <div class="message-item">
                                <div class="message-content">
                                    <h3>系统公告</h3>
                                    <p>消息描述：明天下午四点左右系统更新，预计停服四小时左右，请各位用户注意时间...</p>
                                    <p class="message-time">发布于：2023-10-05 14:30</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="message-item">
                                <div class="message-content">
                                    <h3>失物招领</h3>
                                    <p>消息描述：昨天下午在图书馆门口捡到一本高数书...</p>
                                    <p class="message-time">发布于：2023-10-01 12:30</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="message-item">
                                <div class="message-content">
                                    <h3>我的发布</h3>
                                    <p>消息描述：有人需要二手的电脑散热器吗，低价出售，有求者联系我...</p>
                                    <p class="message-time">发布于：2023-9-28 16:21</p>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <div class="message-item">
                                <div class="message-content">
                                    <h3>我的发布</h3>
                                    <p>消息描述：低价出售二手电脑散热器，有求者联系我...</p>
                                    <p class="message-time">发布于：2023-9-20 19:34</p>
                                </div>
                            </div>
                        </li>                      
                        <!-- 更多消息项 -->
                    </ul>
                </div>

            </div>

        </div>



        <div class="clear"></div>




</body>

</html>